/* RESET  */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* +++++  DEBUG  +++++  */
header {
    height: 365px;
}

.testa {
    height: 60px;
}

.piede {
    height: 300px;
}


/* +++++  COMMON  +++++  */
.testa, .giallo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo, .link, .login {
    border: 2px dashed black;
    padding: 4px 4px 0 4px;
}

.left, .right {
    border: 2px dashed black;
}


/* +++++  HEADER  +++++ */
header {
    background-color: #add8e6;
}

.testa {
    width: 100%;
}

.giallo {
    display: flex;
    background-color: #daa520;
    width: 800px;
    height: 30px;
    align-items: stretch;
}

.logo, .login{
    min-width: 150px;
}

.login {
    text-align: right;
}

.link {
    flex-grow: 1;
    text-align: center;
}

.piede {
    color: white;
    background-color: #00008b;
    display: flex;
}

.info-piede {
    background-color: #ee82ee;
    width: 60%;
    height: 70%;
    margin: auto;
    border: 2px dashed black;
}


/* +++++  MAIN  +++++  */
.riga {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.container {
    display: flex;
    justify-content:space-around;
    width: 60%;
    height: 70%;
}

.left {
    width: 60%;
    height: 100%;
    background-color: #1e90ff;
}

.right {
    width: 40%;
    height: 100%;
    background-color: #ffc0cb;
}

/* +++++ REVERSE +++++  */

.grigia {
    background-color: #d3d3d3;
}


/* +++++  FOOTER  +++++ */