/* RESET  */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* RESET  */


/* +++++  DEBUG  +++++  */
header {
    height: 365px;
}

.testa {
    height: 60px;
}

.piede {
    height: 300px;
}

.contenuto {
    height: 90%;
}

.giallo {
    height: 30px;
}

.info-piede {
    height: 70%;
}

.riga {
    height: 300px;
}

.container {
    height: 70%;
}
/* +++++  /DEBUG  +++++  */



/* +++++  COMMON  +++++  */
.testa, .giallo, .piede, .riga, .container, .grande, .right-scuro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo, .link, .login {
    padding: 4px;
}

.logo, .link, .login, .left, .right, .contenuto, .left-scuro, .info-piede, .logo-rosa, .botton {
    border: 2px dashed black;
}
/* +++++  /COMMON  +++++  */



/* +++++  HEADER  +++++ */
header {
    background-color: #add8e6;
}


.giallo {
    background-color: #daa520;
    width: 80%;
    align-items: stretch;
}

.logo, .login{
    min-width: 150px;
}

.login {
    text-align: right;
}

.link {
    flex-grow: 1;
    text-align: center;
}

.piede {
    background-color: #00008b;
}

.info-piede {
    background-color: #ee82ee;
    width: 60%;
}
/* +++++  /HEADER  +++++ */



/* +++++  MAIN  +++++  */
.container {
    justify-content:space-around;
    align-items: stretch;
    width: 60%;
}

.left {
    width: 60%;
    height: 100%;
    background-color: #1e90ff;
}

.right {
    width: 40%;
    height: 100%;
    background-color: #ffc0cb;
}

.grande {
    height: 500px;
    background-color: #d3d3d3;

}

.contenuto {
    background-color: #228b22;
}
/* +++++  /MAIN  +++++  */



/* +++++ REVERSE +++++  */
.reverse {
    background-color: #d3d3d3;
}

.cambio {
    display:  flex;
    flex-direction: row-reverse;
}
/* +++++ /REVERSE +++++  */



/* +++++  FOOTER  +++++ */

/* +++++ FOOTER NAVIGA +++++ */
footer {
    background-color: #d7d7d8;
    height: 400px;
}

.riga-scura {
    display: flex;
    justify-content: center;
    background-color: #23272a;
    width: 100%;
    height: 80%;
    align-items: center;
    margin-bottom: 1px;
}

.container-scuro {
    display: flex;
    justify-content:space-around;
    align-items: stretch;
    width: 60%;
    height: 80%;
}

.left-scuro {
    width: 25%;
    background-color: #f08080;
}

.right-scuro {
    flex-grow: 2;
    background-color: #20b2aa;
    align-items: stretch;
}

.sezione {
    border: 2px dashed white;
    width: calc(100% / 4);
}
/* +++++ /FOOTER NAVIGA +++++ */

/* +++++ FOOTER CHIUSURA +++++ */
.chiusura {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 19%;
    background-color: #23272a;
}

.info-chiusura {
    width: 60%;
    height: 60%;
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-rosa, .botton {
    background-color: #ffb6c1;
    min-width: 10%;
    text-align: center;
}

/* +++++ /FOOTER CHIUSURA +++++ */


/* +++++  /FOOTER  +++++ */